*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: black;
  /* background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: #2af598;
  text-shadow: 2px 1px #08aeea;
}

.card {
  background-color: #08aeea;
  background-image: linear-gradient(19deg, #08aeea 0%, #2af598 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: #780206;
  text-shadow: 2px 1px #2af598;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: black;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: black;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

#generate {
  background-image: linear-gradient(
    to right,
    #780206 0%,
    #061161 51%,
    #780206 100%
  );
}

.btn {
  color: rgb(64, 255, 0);
  font-family: "Fredoka One", cursive;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  height: 100%;
  width: 90%;
  cursor: pointer;
  background-color: #08e1ae;
  background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
  border: none;
  border-radius: 50px 50px 30px 30px;
  transition: 1s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

button:active {
  border: none;
  outline: none;
}

button:hover {
  border-radius: 100px 100px 20px 20px;
  height: 45px;
  width: 365px;
  color: #08aeea;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

button:active {
  filter: hue-rotate(90deg);
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed black;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  color: #ffffff;
  background-image: linear-gradient(
    109.6deg,
    rgba(15, 2, 2, 1) 11.2%,
    rgba(36, 163, 190, 1) 91.1%
  );
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

.for {
  margin-bottom: 40px;
}

.len input {
  border-style: solid;
  margin-left: 20 px;
  padding: 0 auto;
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
